@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Witaj, @User.Identity.GetUserName()!</strong></a>
        <div class="dropdown-menu" data-bs-popper="none">
            <a class="dropdown-item" href="@Url.Action("Index", "Manage")">Profil</a>
            @if (User.IsInRole("User"))
            {
                <a class="dropdown-item" href="@Url.Action("OwnProducts", "Products")">Moje Ogłoszenia</a>
                <a class="dropdown-item" href="#">Lista ulubionych</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@Url.Action("Index", "Products")">Ogłoszenia</a>
                <a class="dropdown-item" href="@Url.Action("Index", "Categories")">Kategorie</a>
                <a class="dropdown-item" href="@Url.Action("Index", "Keywords")">Słowa kluczowe</a>
                <a class="dropdown-item" href="#">Wiadomości</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        </div>
    </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="spaces">
                @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-light" })
        </li>
        <li class="spaces">
                @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-dark" })
        </li>
    </ul>
}
