@model ProjectApp.Models.ProductReport

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center mt-3 mb-3">Szczegóły</h2>

<div>
    <h4>Szczegóły zgłoszenia:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("< Powrót", null, null, null, htmlAttributes: new { href = Request.UrlReferrer, @class = "btn btn-primary m-2" })
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn  btn-info m-2" })
</div>
