@model dynamic

@{
    ViewBag.Title = "Home";
}

<div class="banner">
    <h1 class="display-3">Garażowa</h1>
    <hr class="my-4">
    <p class="lead">Jedyny taki serwis do ogłoszeń lokalnych</p>
</div>

<div class="d-flex flex-column align-items-center">
    <h3>Szukasz jakiegoś produktu?</h3>
    @using (Html.BeginForm("SearchProduct", "Products", FormMethod.Get))
    {
        <form>
            <div class="d-flex flex-column align-items-center">
                @Html.TextBox("searchPhrase", null, new { @class = "form-control mb-2" })
                <button class="btn btn-primary mb-2 " type="submit">Wyszukaj</button>
            </div>
        </form>
    }
    <p>Wyszukaj interesującą cię rzecz spośród tysięcy ogłoszeń!</p>
    <p>(Wyszukiwanie bazuje na nazwach oraz opisach)</p>
</div>

<div class="text-center">
    <h3>Ostatnio dodane:</h3>
    <hr />
</div>

<div class="row">
    @foreach (dynamic item in Model.data1)
    {
        <div class="col-sm-3 mt-3">
            <div class="card">
                <h3 class="card-header text-center">@item.Name</h3>
                <image src=@item.Image class="m-2" />
                <div class="card-body">
                    <h7>Opis produktu:</h7>
                    <p class="card-text">@item.Description</p>
                    <a href="@Url.Action("Details", "Products", new { id = item.ID })" class="card-link">Szczegóły...</a>
                </div>
                <div class="card-footer text-sm-center">
                    Data dodania:<br /> @item.AddDate
                </div>
            </div>
        </div>
    }
</div>

<hr/>

<div class="row mt-5">
    @foreach (dynamic item in Model.data2)
    {
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="mb-0">@item.message</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Admin
            </figcaption>
        </figure>
    }
</div>




@section Scripts{
    <script type="text/javascript">
        function truncateText(selector, maxLength) {
            var element = document.querySelector(selector),
                truncated = element.innerText;

            if (truncated.length > maxLength) {
                truncated = truncated.substr(0, maxLength) + '...';
            }
            return truncated;
        }

        document.querySelector('.card-text').innerText = truncateText('.card-text', 50);

    </script>
}

