@model IEnumerable<ProjectApp.Models.Category>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{
    <h2 class="text-center mt-3 mb-3">Lista wszystkich kategorii:</h2>
    <div class="d-flex flex-row-reverse bd-highlight">
        @Html.ActionLink("Dodaj nową kategorie", "Create", "Categories", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg mt-4 mb-4" })
    </div>
    <div class="row justify-content-center">
        <div class="col-6 ">
        <table id="categoryTable" class="table text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Opcje dodatkowe</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-sm btn-info m-1" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-sm btn-danger m-1" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
     </div>

}
else
{
    <h2 class="text-center mt-3 mb-3">Wybierz kategorię która Cię interesuje:</h2>
    <div class="text-center mt-5 mb-5">
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.Name, "GetFromCategories", "Products", new { name = item.Name }, htmlAttributes: new { @class = "btn btn-primary btn-lg m-1" })
        }
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#categoryTable').DataTable({
                "oLanguage": {
                    "sLengthMenu": 'Pokaż <select>' +
                        '<option value="5">5</option>' +
                        '<option value="10">10</option>' +
                        '<option value="15">15</option>' +
                        '<option value="25">25</option>' +
                        '<option value="50">50</option>' +
                        '<option value="-1">All</option>' +
                        '</select> elementów',
                    "sSearch": "Wyszukaj: ",
                    "sInfoEmpty": "Brak elementów",
                }

            });
        });
    </script>
}
