@model IEnumerable<ProjectApp.Models.AdminMessage>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script>
        function ShowAlert() {
            alert("Wiadomość ustawiona na stronie głównej!");
        }
    </script>

}



<h2 class="text-center mt-3 mb-3">Wiadomości</h2>

<div class="d-flex flex-row-reverse bd-highlight">
    @Html.ActionLink("Dodaj nową wiadomość", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg mt-4 mb-4" })
</div>
<div class="text-wrap text-break ">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <table class="table text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.message)
                    </th>
                    <th>Możliwe opcje</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.message)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-sm btn-info m-1" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-sm btn-danger  m-1" })
                            @Ajax.ActionLink("Ustaw na stronie głównej", "Display", new { id = item.ID }, new AjaxOptions { HttpMethod = "Post" }, new { OnClick = "ShowAlert()" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div> 
 </div>